<header class="header">
  <div class="header__logo">
    <a class="header__link" routerLink="/main/welcome">
      <img src="assets/logo-orange.png" alt="logo" class="header__img">
    </a>
  </div>
  <div class="user">
    <div class="user__avatar">
      <img [src]="currentUser.avatar" alt="avatar" class="user__image">
    </div>
    <div class="user__name">{{currentUser.firstName}}</div>
  </div>
  <ul class="header__menu menu">
    <li class="menu__item">
      <app-router-underlink class="menu__link" [link]="'/main/settings'" [content]="'Settings'"></app-router-underlink>
    </li>
    <li class="menu__item">
      <app-router-underlink class="menu__link" [link]="'/main/about'" [content]="'About'"></app-router-underlink>
    </li>
    <li class="menu__item">
      <app-router-underlink class="menu__link" (click)="logout()" [content]="'Logout'"></app-router-underlink>
    </li>
  </ul>
</header>
