@import "plugins/variables";
@import 'plugins/media-mixins';

.header {
  z-index: 1;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding-app-header;
  box-sizing: border-box;
  @include phone {
    font-size: 10px;
    padding: 1em 1em 0;
  }

  &__img {
    @include phone {
      max-width: 80%;
    }

  }

  &__logo {
    max-width: 100px;
    margin-right: 50px;
    transition: transform 0.3s;
    @include phone {
      margin-right: 10px;
      min-width: 55px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    max-height: 100%;
    width: auto;

  }

  &__menu {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include phone {
      flex-direction: column;
    }
  }
}

.menu {
  &__item {
    font-size: 1.2em;
    margin-right: 1.5em;
    position: relative;
    &:hover {
      color: lighten($dark-brown, 90%);
    }

    @include phone {
      font-size: 1.4em;
      margin: 0 0 0.5em 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.user {
  display: flex;
  align-items: center;

  &__avatar {
    border-radius: 50%;
  }

  &__image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
  }

  &__name {
    font-size: 1em;
    margin-left: 0.5em;
    @include phone {
      font-size: 1.5em;
    }
  }
}

