@import "plugins/variables";
@import "plugins/mixins";

.video {
  width: 100%;
  border: $chat-border;
  border-radius: 1em;
    &__wrapper {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;    
  };
    &__title {
      @include text-stroke();
      font-family: $ff-header-solid;
      color: $primary-color;
      letter-spacing: 0.1em;
      font-size: 1.2em;
      text-align: center;
    }
}
