@import "./../../../../../styles.scss";

.header {
  background-color: $primary-color;
  opacity: 0.8;
  border-bottom: 1px solid $grey-medium;
  font-size: 1.2rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 0.2rem;
  }
  &__logo {
    margin: 0.5rem;
  }
  .logo {
    &__image {
      width: 70px;
    }
  }
}

.navbar {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item {
    color: $black;
    padding: 1.5rem 1rem;
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
