@import "plugins/variables";
@import "plugins/mixins";

.canvas-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.canvas {
  display: block;
  border-radius: 15px;
  width: 100%;
  margin: auto;
}

.canvas-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;

  &__btn {
    font-size: 1.3em;
    letter-spacing: 0.1em;
    color: $text-color--light;
    border: 3px solid $black;
    border-radius: 10px;
    text-transform: uppercase;

    &--undo {
      background-color: $secondary-color;
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }

    &--submit {
      background-color: $tertiary-color--medium;
      &:hover {
        background-color: darken($tertiary-color--medium, 10%);
      }
    }
  }
}
