<div class="overlay">
    <div class="slider-wrapper" *ngIf="results.length !== 3">
        <div class="slider">
            <div class="slider__container slider__container--tee">
                <div class="slide--tee" *ngFor="let tee of tees; index as i" 
                    [ngClass]="i === currentTee ? 'slide active' : 'slide'"
                    [ngStyle]="{backgroundImage: 'url(assets/images/' + tee.teeBgColor +'.png)'}">
                    <img src="assets/images/{{tee.teePicture}}" class="tee-img" alt="tee" />
                </div>
            </div>
            
            <div class="slider__btn slider__btn--prev" *ngIf="currentTee !== 0" (click)="previousTee()">&#10094;</div>
            <div class="slider__btn slider__btn--next" *ngIf="currentTee !== tees.length - 1" (click)="nextTee()">&#10095;</div>
        </div>
    
        <div class="slider">
            <div class="slider__container slider__container--phrase">
                <div class="slide--phrase" *ngFor="let phrase of phrases; index as i" 
                    [ngClass]="i === currentPhrase ? 'slide active' : 'slide'">
                    {{phrase}}
                </div>
            </div>
            
            <div class="slider__btn slider__btn--prev" *ngIf="currentPhrase !== 0" (click)="previousPhrase()">&#10094;</div>
            <div class="slider__btn slider__btn--next" *ngIf="currentPhrase !== phrases.length - 1" (click)="nextPhrase()">&#10095;</div>
        </div>
        <button type="submit" class="submit-btn button" (click)="submit()">Submit</button>
    </div>
    <button class="submit-btn button" *ngIf="results.length === 3">Next</button>
</div>
