@import "plugins/variables";

.modal {
  &__title {
    font-family: $ff-header-solid;
    font-size: 1.3em;
  }

  &__choice {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

    & > .button {
      border: 1px solid $black;
      letter-spacing: 0.1em;
      font-size: 1.2em;
    }
  }
}
