<div class="players-list__container">
  <video
    *ngIf="hasVideo"
    muted
    autoplay
    playsinline
    #userVideo
    class="players-list__user-video"
  ></video>
  <img *ngIf="!hasVideo" src="{{currentUser.avatar}}" alt="{{'my avatar'}}">

  <ul class="players-list">
    <li *ngFor="let user of users" class="players-list__player player"
      [class.player--is-finished]="finishedUsers.includes(user.username)">
      <div class="player__video" *ngIf="user.peerData">
        <app-video [peerData]="user.peerData"></app-video>
      </div>
      <img *ngIf="!user.peerData" src="{{user.avatar}}" alt="{{user.username + ' avatar'}}">
    </li>
  </ul>
</div>