@import "plugins/variables";
.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__player, .player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #fae89e;
    margin: 7%;

    &--is-finished {
      border: 2px solid $light-green;
    }

    &__avatar {
      width: 80%;
      height: 80%;
      border-radius: 50%;
      background-color: #dbfbf8;
      border: 3px solid #2c2828;
    }
  }

  &__video-container {
    width: 5em;
    height: 5em;
  }
}

.arrow-button{
  position: absolute;
  top: 50%;
  left: 0;
}
