@import "plugins/variables";
.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__player, .player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fae89e;
    margin: 7%;

    &--is-finished {
      border: 2px solid $light-green;
    }

    &__avatar {
      font-size: 2.6em;
      font-family: $ff-header-solid;
      width: 100px;
      height: 100px;
      color: #2c2828;
      line-height: 100px;
      vertical-align: middle;
      display: inline-block;
      border-radius: 50%;
      background-color: #dbfbf8;
      border: 3px solid #2c2828;
      transform: rotate(10deg);
    }
  }

  &__video-container {
    width: 5em;
    height: 5em;

    .user-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.arrow-button{
  position: absolute;
  top: 50%;
  left: 0;
}
