<div class="players-list__container">
  <video
    muted
    autoplay
    playsinline
    #userVideo
    class="players-list__user-video"
  ></video>
  
  <ul class="players-list">
    <li class="players-list__player player">
      <div class="player__avatar">
        
      </div>
    </li>
    <li class="players-list__player player">
      <div class="player__avatar">
        
      </div>
    </li>
    <li class="players-list__player player">
      <div class="player__avatar">
        
      </div>
    </li>
    <li class="players-list__player player">
      <div class="player__avatar">
        
      </div>
    </li>
    <li class="players-list__player player">
      <div class="player__avatar">
        
      </div>
    </li>
  </ul>
</div>
