@import "plugins/variables.scss";

.login {
  &__container {
    width: 100%;
    position: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

::ng-deep .mat-tab-label:focus {
  background-color: $primary-color;
  width: 50% auto;
}
