@import "plugins/variables.scss";

.login {
  background-image: url(/assets/backgrounds/login-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__title {
    margin: 1rem;
    text-align: center;
  }

  &__container {
    width: 40%;
    margin: 10% auto;
    border-radius: 10px;
  }

  .signin {
    &__list {
      margin-top: 1.5rem;
    }

    &__item {
      width: 80%;
      display: block;
      margin: auto;
    }

    &__message {
      width: 80%;
      display: block;
      color: $grey-dark;
      margin: 1rem auto;
    }

    &__button {
      margin-top: 1.5rem;
      display: block;
      width: 80%;
      margin: 1rem auto;
      background-color: $primary-color;
      color: $black;
      border: 1px solid $grey-medium;
    }
  }

  .signup {
    border-bottom: 1px solid $primary-color;

    &__list {
      margin-top: 1rem;
    }

    &__item {
      width: 80%;
      display: block;
      margin: auto;
    }

    &__message {
      width: 80%;
      display: block;
      color: $grey-dark;
      margin: 1rem auto;
    }

    &__button {
      margin-top: 1.5rem;
      display: block;
      width: 80%;
      margin: 1rem auto;
      background-color: $primary-color;
      color: $black;
      border: 1px solid $grey-medium;
    }
  }
}

.icon {
  color: $grey-dark;
}
