@import "plugins/variables";
@import "plugins/media-mixins";

.modal {
  &__title {
    font-family: $ff-header-solid;
    font-size: $title-modal-font-size;
    @include phone {
      font-size: 2.1em;
    }
    @include tablet {
      font-size: 2em;
    }
  }
}

