<div class="overlay">
  <div class="wrapper">
    <div class="game-phase">
      <h3 class="game-phase__title">Vote</h3>
      <p class="game-phase__hint">(click on shirt)</p>
    </div>
    <div class="vote-wrapper" *ngIf="leftTee && rightTee">
      <div class="tee">
        <div class="tee__wrapper">
          <app-tee class="tee__picture"
                  [fillColor]="leftTee.picture.background"
                  [pictureUrl]="leftTee.picture.url"
                  [phrase]="leftTee.phrase.phrase"
                  (click)="voteForLeftTee()">
          </app-tee>
        </div>
      </div>
      <div class="versus">VS</div>
      <div class="tee tee--right">
        <div class="tee__wrapper">
          <app-tee class="tee__picture"
                  [fillColor]="rightTee.picture.background"
                  [pictureUrl]="rightTee.picture.url"
                  [phrase]="rightTee.phrase.phrase"
                  (click)="voteForRightTee()">
          </app-tee>
        </div>
      </div>
    </div>
  </div>
</div>
