<div class="overlay">
    <div class="wrapper">
        <div class="game-phase">
            <h3 class="game-phase__title">Vote</h3>
            <p class="game-phase__hint">(click on shirt)</p>
        </div>
        <div class="tee-vote-wrapper">
            <div class="tee tee--left" [ngStyle]="{backgroundImage: 'url(assets/images/tee-red.png)'}">
                <img src="assets/images/tee-img2.jpg" class="tee__img" alt="tee" />
                <p class="tee__text">Hello world</p>
            </div>
            <div class="versus">VS</div>
            <div class="tee tee--right" [ngStyle]="{backgroundImage: 'url(assets/images/tee-gray.png)'}">
                <img src="assets/images/tee-img.jpg" class="tee__img" alt="tee" />
                <p class="tee__text">Hey...</p>
            </div>
        </div>
    </div>
</div>