@import "plugins/variables";
@import "plugins/mixins";

.about {
  width: 100%;
  background-color: $primary-color;
  min-height: 100vh;

  .background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $primary-color;
  
    &__image {
      top: 0;
      right: 0;
      background: no-repeat center center / cover;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: 100vh;
    }
  }

  &__container {
    position: absolute;
    width: 95%;
    top: 10%;
    left: 2.5%;
    right: 2.5%;
    margin: 1rem auto;
    z-index: 2;
  }
}

.title {
  font-size: 4.5rem;
  text-align: center;
  font-family: $ff-header-solid;
  @include text-stroke();
  color: $text-color--light;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.values {
  margin-bottom: 2rem;
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: auto;
  }

  &__item {
    border: 2px solid $black;
    border-radius: 15px;
    margin: 0.5rem;
    padding: 1.5rem;
    width: 300px;
    background-color: $white;
  }

  &__subtitle {
    text-align: center;
    font-weight: $bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid $black;
    border-radius: 10px;
    color: #83c6f7;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.network {
  &__title {
    margin-top: 3rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid $black;
    border-radius: 10px;
    background-color: $white;
    width: 60%;
    margin: 1rem auto;
  }
  &__item {
    padding: 1.5rem;
    font-weight: $bold;
    font-size: 1.2rem;
    color: #83c6f7;
    &:hover {
      color: darken(#83c6f7, 10%);
    }
    &::after {
      content: '';
      display: block;
      height: 10px;
      border-radius: .1rem;
      background-color: $quaternary-color;
    }
  }
}
