@import "plugins/variables";
.game {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  background: url(/assets/backgrounds/game-background.jpg) no-repeat fixed center center / cover ;
  min-height: 100vh;

  &__room-code {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(-5deg);
  }

  &__column {
    flex: 0 1 33.33%;
    text-align: center;
    min-height: 100%;
  }

  &__slogan {
    max-width: 80%;
    margin: 0 auto;
  }

  &__timer {
    display: flex;
    justify-content: center;
    // margin: 35px 0;
  }

  &__chat {
    max-width: 80%;
    margin: 0 auto;
  }

  &__players {
    max-width: 80%;
    margin: 0 auto;
  }
}

.showButton, .hideButton {
  position: fixed;
  top: 50%;
  z-index: 5;
  color: $white;
  -webkit-text-stroke: 5px $dark-brown;
  margin: 0;
  padding: 0;
}

.hideButton.left {
  left: 0;
}

.hideButton.right{
  right: 0;
}

.showButton.left, .hideButton.right{
  transform:scaleX(-1);
}

.mat-sidenav-container,
.sidenav {
  position: relative;
  border: none;
  background: transparent;
  min-height: 100%;
}
