@import "plugins/variables";
@import "plugins/media-mixins";

.game {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  background: url(/assets/backgrounds/game-background.jpg) no-repeat fixed center center / cover;
  min-height: 100vh;
  @include phone {
    display: grid;
    grid-template-areas: "center center" "left right";
  }
  @include tablet {
    display: grid;
    grid-template-areas: "center center" "left right";
  }


  &__room-code {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(-5deg);
  }

  &__column {
    // flex: 0 1 33.33%;
    flex-grow: 0;
    flex-shrink: 1;
    width: 33.33%;
    text-align: center;
    min-height: 100%;
    @include tablet {
      min-height: 0;
    }
    &--left {
      grid-area: left;
      @include phone {
        width: 100%;
        max-width: 45vw;
      }
      @include tablet {
        width: 100%;
        max-width: 45vw;
        padding: 10% 0;
      }
    }
    &--central {
      grid-area: center;
      @include phone {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }
    }
    &--right{
      grid-area: right;
      @include phone {
        width: 100%;
        max-width: 45vw;
      }
      @include tablet {
        width: 100%;
        max-width: 45vw;
        padding: 10% 0;
      }
    }
  }

  &__slogan {
    max-width: 80%;
    margin: 0 auto;
  }

  &__timer {
    display: flex;
    justify-content: center;
    // margin: 35px 0;
  }

  &__chat {
    max-width: 80%;
    margin: 0 auto;
    @include phone {
      width: 90%;
      max-width: 90%;
      margin: 0 auto;
    }
    @include tablet {
      width: 90%;
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &__players {
    max-width: 80%;
    margin: 0 auto;
  }
}

.showButton, .hideButton {
  position: fixed;
  top: 50%;
  z-index: 5;
  color: $white;
  -webkit-text-stroke: 5px $dark-brown;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.hideButton.left {
  left: 0;
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.hideButton.right {
  right: 0;
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.showButton.left, .hideButton.right {
  transform: scaleX(-1);

  &:hover {
    transform: scaleX(-1.05) scaleY(1.05);
  }
}

.right {
  right: 25px;
}

.left {
  left: 25px;
}

.mat-sidenav-container,
.sidenav {
  position: relative;
  border: none;
  background: transparent;
  min-height: 100%;
}

