.game {
  display: flex;
  flex-flow: row nowrap;

  &__column {
    flex: 0 1 33.33%;
    text-align: center;
  }

  &__timer {
    display: flex;
    justify-content: center;
    margin: 35px 0;
  }

  &__chat {
    max-width: 80%;
    margin: 0 auto;
  }

  &__players {
    max-width: 80%;
    margin: 0 auto;
  }
}

.mat-icon-button {
  position: absolute;
  top: 50%;
  z-index: 5;
}

.mat-sidenav-container,
.sidenav {
  position: relative;
  border: none;
  background: transparent;
}
