<div class="lobby">
  <div class="lobby__join join">
    <span class="join__message">Join at </span>
    <span class="join__code">{{ roomCode }}</span>
    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
  </div>

  <!-- TODO: Remove h4 later -->
  <h4>Users:</h4>

  <ul class="lobby__users">

    <li *ngFor="let user of users; index as i" class="lobby__user">
      <span>{{ user }}</span>
      <app-video [id]="i"></app-video>
    </li>
  </ul>

  <!-- TODO: Remove - Temporary test of chat -->
  <div class="lobby__chat">
    <span>Chat:</span>
    <app-chat></app-chat>
  </div>
</div>
