<div class="lobby">
  <div class="lobby__container">
    <nav class="lobby__back" [routerLink]="['/main/welcome']">
      < Back</nav> <div class="lobby__join join">
        <span class="join__message">Join at </span>
        <span class="join__code">{{ roomCode }}</span>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
  </div>


  <div class="lobby__sidebar">
    <ul class="lobby__users">
      <li *ngFor="let user of users; index as i" class="lobby__user user">
        <span class="user__name">{{ user }}</span>
        <!-- <app-video [id]="i" class="user__avatar"></app-video> -->
      </li>
    </ul>
  </div>

  <!-- TODO: Remove - Temporary test of chat -->
  <div class="lobby__chat">
    <span>Chat:</span>
    <app-chat></app-chat>
  </div>
</div>