<div class="lobby">
  <div class="lobby__container" [defaultImage]="defaultBackground" [lazyLoad]="highResBackground">
    <app-router-underlink class="lobby__back" [link]="'/main/welcome'" [content]="'Back'"></app-router-underlink>
    <div class="lobby__join join">
      <span class="join__message" *ngIf="!errorMessage">Join at </span>
      <div class="join__code-wrapper">
        <span class="join__code" *ngIf="!errorMessage">{{ roomCode }}</span>
      </div>
      <mat-error class="join__error" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </div>
    <button class="lobby__button button" (click)="startGame()" *ngIf="!errorMessage" [disabled]='gameReady'>
      <span class="button__title"
            [ngClass]="{'is-wait': gameReady, 'is-start': !gameReady}">{{  gameReady ? 'Wait!' : 'Start' }}</span>
    </button>


    <div class="lobby__sidebar">
      <div *ngFor="let i of elementsCount | repeatElement" class="lobby__wave"
           [ngStyle]="{'top': i * waveHeight  +  'px', 'webkitAnimationDelay': (i/70) + 's'}"
      ></div>
      <ul class="lobby__users">
        <li *ngFor="let user of users" class="lobby__user user">
          <span class="user__name">{{ user.username }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
