@import "plugins/variables.scss";

.signin {
  display: flex;
  &__background {
    background: no-repeat center center / cover;
    top: 0;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &__list {
    margin-top: 10%;
    width: 50%;
  }

  &__item {
    width: 80%;
    display: block;
    margin: auto;
  }

  &__title {
    margin: 1rem 4rem;
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__message {
    width: 80%;
    display: block;
    color: $grey-dark;
    margin: 1rem auto;
  }

  &__button {
    margin-top: 2rem;
    display: block;
    width: 80%;
    margin: 1rem auto;
    color: $black;
    border: 1px solid $grey-dark;
    font-family: "Roboto", sans-serif;
    &-submit {
      background-color: $primary-color;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
    &-google {
      background-color: $white;
      display: none;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

.google-icon {
  width: 18px;
  height: 18px;
  margin: .5rem;
}

.icon {
  color: $grey-dark;
}
